/* hmm */
@font-face {
    font-family: TikTokFont;
    src: url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Bold.woff2?_default_font=1&v=1);
}

.link-bluesky {
    background: #008FFF;
    color: #ffffff;
    background: linear-gradient(
        90deg,
        #008FFF,
        #0063FF
    );
}

.link-tiktok {
    font-family: TikTokFont,Arial,Tahoma,PingFangSC,sans-serif;
    background: black;
}